[Desktop Entry]
Version=1.0
Type=Application
Name=PyCharm
Comment=Python IDE
Exec={{ansible_user_dir}}/Software/phpstorm/bin/phpstorm.sh
Icon={{ansible_user_dir}}/Software/phpstorm/bin/webide.png
Path=
Terminal=false
StartupNotify=true
