[Desktop Entry]
Version=1.0
Type=Application
Name=PhpStorm
Comment=PHP IDE
Exec=env PHPSTORM_JDK={{jdk_global_jdk_directory}} {{ansible_user_dir}}/Software/phpstorm/bin/phpstorm.sh
Icon={{ansible_user_dir}}/Software/phpstorm/bin/webide.png
Path=
Terminal=false
StartupNotify=true
